body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgb(248, 248, 248);
  background: linear-gradient(to right, #3494e6, #ec6ead); 
}

.card {
  padding: 16px;
  border: 4px  rgb(213, 223, 233);
  box-shadow: 4px 4px 8px #333;
  border-radius: 1px;
}

.card2 {
  padding: 16px 0;
  border: 4px  rgb(213, 223, 233);
  box-shadow: 4px 4px 8px #333;
  border-radius: 1px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.grid-conatiner {
  display: grid;

}

.dark {
  background: black;
  /* color: white; */
}

.dark .card > a{
  color: yellow
}
.socials {
  padding: 16px;
}

img {
  height: 60px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

#twitter {
  color: #00acee
}

#linkedin {
  color: #0E76A8
  background: white
}

.form {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  border: 2px solid blue;
  border-radius: 5px;
  margin: 15px 0px;
}